.clock__wrapper {
  height: 300px;
}

.text {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin: auto;
  width: fit-content;
  font-family: var(--font-family);
  line-height: 300px;
}

.dateTime__list {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: auto;
  justify-content: space-between;
  text-align: center;
}
